

.box {
    background-color: #f1e7f5;
    border-style: solid;
    border-width: .2em!important;
    border-color: #FFFFFF #e2a5e7 #e2a5e7 #FFFFFF;
    margin:.5em;
    border-radius:0%!important;
}

.button {
    margin: 0px 1px;
    min-width:2em;
    text-decoration:none;
}

.list-group-item.box {
    background-color:#F2DEE9;
}

.button:active, .box.active {
    border-color:  #e2a5e7 #FFFFFF #FFFFFF #e2a5e7;
    background-color: #f1e7f5;
}

.zoomy {
    position:absolute;
    left: 1em;
    z-index:10;
    width:2em;
}

.box.zoomy:active {
    border-color:  #A138A9 #F2DEE9 #F2DEE9 #A138A9;
}

.titlebar {
    padding: .2em 0em;
    margin: -4px -4px .25em;
    background: rgb(132,31,220);
    background: linear-gradient(90deg, rgba(226,165,231,1) 0%, rgba(241,231,245,1) 100%);
}

.spaced {
    padding: .25em;
}

body {
    background-color: #E4E5EA;
    
}

p {
    text-align: justify;
    text-justify: inter-word;
    padding: 0em .5em;
}

.map {
    width: 100%;
    height: 85vh;
}

.limit-35em {
    max-width:35em;
}

@media (orientation: portrait) {
    .map {
        height:80vh;
    }
  }

@media (min-width: 768px) {
    .centered {
        margin: auto;
        width: 30em;
    }
}

.list-group.clear {
    background-color:inherit;
}

.list-group-item.clear {
    background-color:inherit;
    border:none;
    padding:0em;
}